  <link href="css/login_preview1.css" rel="stylesheet">
<section id="signin_main" class="authenty signin-main" ng-controller="LoginCtrl">
  <div class="section-content">
          <div class="wrap">
            <div class="container">   
              <div class="form-wrap">
                <div class="row">
                  <div class="title animated fadeInDown" data-animation="fadeInDown" data-animation-delay=".8s" style="-webkit-animation-delay: 0.8s; animation-delay: 0.8s;">
                    <h1><i class="fa fa-globe fa-1x "></i>
        MyGeoData  <h5>Know your locations </h5></h1>
                   
                  </div>
                  <div id="form_1" data-animation="bounceIn" class="animated bounceIn">
                    <form name="loginForm"  ng-submit="submitForm(loginForm.$valid)" >
                    <div class="form-header">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="form-main">
                      <div class="form-group">
                        <input type="text" ng-model="username" id="un_1" class="form-control" placeholder="Username" required>
                        <input type="password" ng-model="password" id="pw_1" class="form-control" placeholder="Password" required>
                      </div>
                      <button id="signIn_1" type="submit" class="btn btn-block signin" >Sign In</button>
                    </div>
                    <div class="form-footer">
                      <div class="row">
                        <div class="col-xs-7">
                          <i class="fa fa-unlock-alt"></i>
                          <a href="#password_recovery" id="forgot_from_1">Forgot password?</a>
                        </div>
                        <div class="col-xs-5">
                          <i class="fa fa-check"></i>
                          <a href="#signup" id="signup_from_1">Sign Up</a>
                        </div>
                      </div>
                    </div>    
                  </form>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div> 
        
        </section>


   

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!--<script src="js/plugins/backstretch/jquery.backstretch.min.js"></script>-->
    
   
   <script>

$(function() {

 /*$.backstretch([
      "image/new_view1.png",
        "image/new_view2.jpg",
          "image/new_view3.jpg",
            "image/new_view4.jpg",
              "image/new_view5.jpg"
    
  ], {duration: 100000, fade: 1000});
*/

});

   
    </script>

